*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Struttura header */
header{
    background-color: #ff6900;
    color: white;
    padding: 20px 0;
}
.nav_container{
    width: 80%;
    margin: 0 auto;
}
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.col_genere, .col_logo, .col_icon{
    width: calc(100% / 3);
}
/* Struttura main*/
.main_container{
    width: 80%;
    margin: 0 auto;    
}
.col_vestito{
    width: calc(100% / 3);
    background-color: cadetblue;
    border: 1px dashed black;
    margin: 10px;
}
/* struttura footer */
footer{
    background-color: #1a1a1a ;
}
.footer_container{
    width: 80%;
    height: 100px;
    margin: 0 auto;
}
.col_info, .col_social{
    width: calc(100% / 3);
    height: 70px;
    background-color: beige;
    border: 1px dashed black;
    margin-top: 15px;
}

/* stile header */
.genere_content ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 10px;
}
.genere_content li{
    margin: 0 10px;
}
.genere_content{
    height: 100%;
    display: flex;
    align-items: center;
}
.logo_content img{
    width: 40%;
}
.logo_content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon_content ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 5px;
}
.icon_content li{
    margin: 0 10px;
}
/* stile main */
.vestito_img img{ 
    width: 100%;
}
.marca{
    color: grey;
}
.modello{
    font-weight: bold;
}
.prezzo_nuovo{
    color: red;
    display: inline-block;
}
.prezzo_vecchio{
    color: gray;
    text-decoration: line-through;
    display: inline-block;
}
.cont_img{
    position: relative;
}
.vestito_img_info{
    position: absolute;
    left: 0;
    bottom: 50px;

    display: flex;
    justify-content: center;
}
.sconto, .sost{
    height: 100%;
    padding: 10px;
    color: white;
    font-size: 15px;
}
.sconto{
    background-color: red;
    margin-right: 10px;
}
.sost{
    background-color: green    ;
}
.vestito_img_heart{
    color: black;
    background-color: white;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 10px;
}